<div class="contact">
  <h2>Contact, Commissions and Inquiries</h2>
  <article class="contact-article">
    <h3>Want to get in touch? Send me a message and I'll get back to you as soon as possible!</h3>
    <p>Email: <a href="mailto:aleksi.hakala.98@gmail.com">{{ email }}</a> </p>
    <p class="findme">Find me on other platforms:</p>
    <div class="contact-icons">
      <a href="https://www.instagram.com/lalexeii" target="_blank"><img src="assets/images/insta.png" alt="instagram" class="contact-icon"></a>
      <a href="https://www.linkedin.com/in/aleksi-hakala-a061121a7/" target="_blank"> <img src="assets/images/linkedin.png" alt="linkedin" class="contact-icon"></a>
      <a href="https://github.com/Haklu98" target="_blank"><img src="assets/images/github.png" alt="github" class="contact-icon"></a>
      <a href="https://www.youtube.com/@Aleksi_Hakala" target="_blank"><img src="assets/images/Youtube_logo.png" alt="youtube" class="contact-icon"></a>
      <a href="https://open.spotify.com/artist/4aPGiD72YUspyHkT368CU9?si=Dh0qGH2XQZOWDqdoeAUs4g" target="_blank"><img src="assets/images/Spotify.png" alt="spotify" class="contact-icon"></a>
    </div>

  </article>
</div>

