<div class="about">
  <h2>About Me</h2>
  <article class="about-article">
    <h3>Hello dear friend! I am Aleksi, a 26-year old goofy and quite charming young man. I was born and raised in Southern Ostrobothnia,
      Finland, but I moved to Jyväskylä because of my studies.
      I always had a certain knick for computers and music, which is why I am on the path that I am right now!</h3>
    <img src="assets/images/Aleksi_hakala_1.jpg" alt="aleksi" class="image-1">
    <img src="assets/images/Aleksi_hakala_3.jpg" alt="aleksi" class="image-2">
    <h3>I have studied music ever since I was 6-years old, which means that I've been doing it for 20 years already.
      On the other hand, I was introduced to computers and videogames at the age of 3 and that's probably why
      I have such a great interest towards videogame music.
    </h3>
    <h3>
      In my free time I tend to play videogames or compose music, or just enjoy different soundtracks and sound engineering in general.
      I am a part of a band called "Moffat" and I also do the live mixing for the band "Nelosolut". On top of those, I also
      produce my own music and occasionally do commissions for other people needing music for their own projects.
    </h3>
    <img src="assets/images/aleksihakala.jpg" alt="aleksi" class="image-3">
    <h3 class="last">Nonetheless, I hope you enjoy my work and should the stars be aligned in such way, maybe
      we will work together!
    </h3>
  </article>
  <h2>Best regards</h2>
  <img src="assets/images/NimmariMusta_noshadow.png" alt="aleksi" class="image-4">
</div>
