<div class="project-container">
  <article class="project-article">
    <h2 class="project-title">Ticorporate Game OST</h2>
    <p>As a side-project to my main Ticorporate project I was honoured to work on a videogame soundtrack for the BIT game production team.
       The game is called "Happy Home" and it is a text-based game with 2D exploration. You play as Emily, whose life is about to change
      in a way that no one could have predicted.</p>
    <p>This was a fun project to work on as I had not composed music for a videogame before and for it to be a horror game, it was truly a challenge. I was
      commissioned for 3 soundtracks; happy one, sad one and the horror theme.
    </p>
    <h3>The soundtracks</h3>
    <p>Overall I wanted to create a melody that would carry over throughout all the soundtracks. Call it a leitmotiv, that comes up in every track in its own
      unique way, be it sad, happy or frightening. This was my starting point for the whole project. I also got a comprehensive list of references to gain
      inspiration from.
    </p>
    <h3>The happy theme</h3>
    <p>The happy theme was relatively simple to put together, since I came up with a melody quite fast. I recorded a simple arpeggio sequence with a guitar and gave it a
      little layering with a distant pad. I added piano to the mix and then finally recorded the melody with the guitar to finalize the track. The track itself
      is quite simple, but it has something that really allows it to be played over and over again without the feel of repetition.
    </p>
    <h3>The sad theme</h3>
    <p>With the sad theme I was given some references. There was an idea to make it a bit "off", if you will, to include certain wrongness in the melody.
      And by the wrongness I mean being a bit detuned. I used the same melody as the happy theme, but altered it to fit the minor key. I recorded the the piano parts
      using an electric piano sound and then layered it with grand piano that was a bit off-time. In other words, I quantized the other instrument and let
      the other one be as recorded. For effects, I added iZotope's Vinyl, to give it that old feel and slight dust noise. Personally, I think the sad theme turned out
      quite good.
    </p>
    <h3>The horror theme</h3>
    <p>The horror theme was the most challenging out of the three. I had done drone sounds and ambient sound design before, but now I had to capture
      the essence of slow building anxiety and horror of the unknown. Once again I was able to use the melody as a base, but it was altered quite a bit for this one.
    </p>
  </article>
</div>
