<div class="project-container">
<article class="project-article">
  <h2 class="project-title">2024 Ticorporate Project</h2>
  <p>I was part of the development team that took on the project from Elisa during the 2024 Ticorporate.
    Our goal was to develop a collaboration tool that both companies could use to ease their communication and provide more transparency.
    This would allow the companies to work more efficiently and effectively. Over the past 4,5 months we worked with this project to meet our clients needs
    and put out the best possible software.
  </p>
  <h3>My role</h3>
  <p>I was the Project Manager and also responsible for the front-end development of the project, using Angular as the framework to bring the vision of our UI designer to life.
    With that said, I also worked closely with our UI/UX designer to create the best possible user experience. Over the course of this project I was able to
    gain a lot of experience in Angular, Typescript, HTML, CSS, and SCSS, while also getting insight on how the frontend communicates with the backend and database.
  </p>

  <h3>The beginning</h3>
  <p>During our first sprint we prepared interviews with both Jamk and Elisa personnel to get a better understanding of our clients needs.
    Then during the second sprint, we interviewed the clients and formed a user profile from that information. We then built 2 different prototypes
    with figma and presented them to our clients.
  </p>
</article>
</div>
