<div class="project-container">
<article class="project-article">
  <h2 class="project-title">2024 Ticorporate Project</h2>
  <p>I was part of the development team that took on the project from Elisa during the 2024 Ticorporate.
    Our goal was to develop a collaboration tool that both companies could use to ease their communication and provide more transparency.
    This would allow the companies to work more efficiently and effectively. Over the past 4,5 months we worked with this project to meet our clients needs
    and put out the best possible software.
  </p>
  <h3>My role</h3>
  <p>I was the Project Manager and also responsible for the front-end development of the project, using Angular as the framework to bring the vision of our UI designer to life.
    With that said, I also worked closely with our UI/UX designer to create the best possible user experience. Over the course of this project I was able to
    gain a lot of experience in Angular, Typescript, HTML, CSS, and SCSS, while also getting insight on how the frontend communicates with the backend and database.
  </p>

  <h3>The process</h3>
  <p>We used scrum process with our team to keep on track what's going on with the project and who is doing what.
    This greatly increased the efficiency and quality of our work and allowed us to learn what it is like to work in a scrum team.
    First three sprints were week long, but after the production properly started, we had 2 week long sprints.
  </p>
  <p>At the start of every sprint we had a sprint planning and we went through the backlog and prioritized the tasks we had to complete.
    During the sprints we had daily scrums every day at 09:15, where everyone would go through what they were working on that day.
    At the end of the sprint we had a review on what we were able to achieve and a retrospective where we went through what we did, what went well and what could be improved.
  </p>
  <h3>Sprint 1</h3>
  <p>During the first sprint, we went through the roles of the team members and discussed with the Elisa's PO on what should be done first. We came to the conclusion that
    the most important thing to focus on was the interviewing of the clients and getting information on what is needed if this type of software was to be introduced.
    During this sprint we also created the GitHub repository and created a crude version of the product backlog.
  </p>
  <p>So all in all, the first sprint was mainly setting up the team for the project and coming up with questions to ask the clients.
    We were also able to hold the first interview during the first sprint.
  </p>
  <h3>Sprint 2</h3>
  <p>The second sprint started with us inviting the Elisa personnel to interviews and setting up the interview questions for them. This sprint was
    mainly just interviewing and gathering information from the Elisa and Jamk personnel.
  </p>
  <h3>Sprint 3</h3>
  <p>During the third sprint we took the feedback from the interviews and decided to do two different Figma-prototypes that would be shown to the clients on both the Elisa and Jamk side.
    After getting feedback on the prototypes, we were able to construct the final UI/UX prototype that would become the guideline for the project. We also
    designed the database structure and started creating the architecture of the software.
  </p>
  <div class="images-sprint3">
    <img src="assets/images/figmaSS2.png" alt="sprint3-2" class="sprint3-image">
    <img src="assets/images/figmaSS.png" alt="sprint3-1" class="sprint3-image">
  </div>
  <h3>Sprint 4</h3>
  <p>The fourth sprint was the first sprint where we started coding and actually developing the software.</p>
  <p>I set up the angular project and pushed it to GitHub and wrote down instructions on the Git workflow. Together with the other team members, we
    created the Angular infrastructure so it would be as clear as possible. Then I created the main components for the project, the navigation and routing.
    I also added the Privacy Policy and About Us -pages. I also implemented the use of Flowbite to our project.
  </p>
  <p>During the second week of this sprint, I delved into the Angular Calendar module and started coding the yearly view -component as well as the Monthly View.
    We also did a visit to Elisa's office to get to know the company better. I also created a little greeting for the front page that changes depending on what time it is.
    During the end of the sprint, I decided to personally discard the idea of using
    the Angular Calendar module and instead create my own.
  </p>
  <p>What I actually did this sprint:</p>
  <ul>
    <li>Created the Angular project and pushed it to GitHub</li>
    <li>Wrote down instructions on the Git workflow</li>
    <li>Created the Angular infrastructure with the team</li>
    <li>Created the components for the project</li>
    <li>implemented the use of Flowbite</li>
    <li>Created the Navigation and routing for the project</li>
    <li>Created the "Privacy Policy" and "About" pages</li>
    <li>Studied the Angular Calendar module</li>
    <li>Started coding the Yearly View -component</li>
    <li>Coding the Monthly View -component</li>
    <li>Discarded the Angular Calendar</li>
  </ul>
  <div class="attachments1">
    <div class="images-sprint4">
      <p>The infrastructure within Angular:</p>
      <img src="assets/images/vscodeSS1.png" alt="sprint4-1" class="sprint4-image">
    </div>
    <div class="card-div">
      <p>How the code with navigation and footer looks like:</p>
      <mat-card class="code-card">
      <code class="code">
        <p>app.component.html</p>
        <div>
        <div>&lt;div class="flex flex-col min-h-screen overflow-hidden"&gt;</div>
        <div>&nbsp; &lt;!--Nav component set as sticky to the top of the page--&gt;</div>
        <div>&nbsp; &lt;app-nav *ngIf="showNav"&gt; &lt;/app-nav&gt;</div>
        <div>&nbsp; &lt;ng-toast [width]="300" [position]="ToasterPosition.BOTTOM_CENTER" /&gt;</div>
        <div>&nbsp; &lt;!--Router outlet for routing between pages--&gt;</div>
        <div>&nbsp; &lt;div class="flex-1"&gt;</div>
        <div>&nbsp; &nbsp; &lt;router-outlet&gt;&lt;/router-outlet&gt;</div>
        <div>&nbsp; &lt;/div&gt;</div>
        <br />
        <div>&nbsp; &lt;!--Footer component set as sticky to the bottom of the page--&gt;</div>
        <div>&nbsp; &lt;div id="grower" class="flex grow"&gt;&lt;/div&gt;</div>
        <div>&nbsp; &lt;app-footer class="footer-app" role="contentinfo"&gt;&lt;/app-footer&gt;</div>
        <div>&lt;/div&gt;</div>
        </div>
      </code>
    </mat-card></div>


  </div>


  <h3>Sprint 5</h3>
  <p>During this sprint I started creating my own monthly calendar module and coding it, while also working on the yearly calendar. For the monthly calendar, I used the
    date-fns library for formatting the time and date in a way that was easy to comprehend. We also noticed that the Flowbite would not work as intended on Angular 18,
    so we decided to switch to Angular Material. This resulted in the removal of Flowbite and its dependencies, and replacing all the components with Angular Material.
    I also took on the task of cleaning up the html, creating classes for the elements and moving the Tailwind classes to css files.
  </p>
  <p>What I actually did this sprint:</p>
  <ul>
    <li>Coded the monthly calendar module</li>
    <li>Added the functionality of the monthly calendar getting the events from the database</li>
    <li>Worked on the yearly calendar and added functionality to it</li>
    <li>Fixed the bugs on yearly calendar and styled it better</li>
    <li>Fixed the Navigation bar, replacing the Flowbite with Angular Material</li>
    <li>Removing Flowbite from all the components and replacing them with Angular Material components</li>
    <li>Moved the Tailwind classes to css files</li>
    <li>Cleaned up the html files</li>
  </ul>
  <div class="attachments2">
    <div class="images-sprint5">
      <p>The infrastructure within Angular:</p>
      <img src="assets/images/vscodeSS1.png" alt="sprint4-1" class="sprint4-image">
    </div>
    <div class="card-div">
      <p>The function that creates the base for the monthly calendar:</p>
      <mat-card class="code-card">
      <code class="code">
        <p>month.component.ts</p>
        <div>
          <div>
          <div>generateMonthCalendar() &#123;</div>
          <div>&nbsp; &nbsp; const startOfMonthDate = startOfMonth(this.currentMonth);</div>
          <div>&nbsp; &nbsp; const endOfMonthDate = endOfMonth(this.currentMonth);</div>
          <br />
          <div>&nbsp; &nbsp; // Let's get the start and end dates of the first week and last week</div>
          <div>&nbsp; &nbsp; const startDate = startOfWeek(startOfMonthDate, &#123; weekStartsOn: 1 &#125;);</div>
          <div>&nbsp; &nbsp; const endDate = endOfWeek(endOfMonthDate, &#123; weekStartsOn: 1 &#125;);</div>
          <br />
          <div>&nbsp; &nbsp; // Here we generate all days between start and end</div>
          <div>&nbsp; &nbsp; this.days = eachDayOfInterval(&#123; start: startDate, end: endDate &#125;);</div>
          <div>&nbsp; &#125;</div>
          </div>
          <div>&nbsp;</div>
          </div>
      </code>
    </mat-card></div>


  </div>
  <h3>Sprint 6</h3>
  <p>During this sprint, I started working on the UI to make it look like the our UI/UX designer had intended. This meant that I was delving into the
    documentation of Angular Material and Tailwind. I also took look into the theming with Angular Material which resulted in me changing the css files
    to scss for easier implementation.
  </p>
  <p>
    As I was studying the Material Documentation, I came to the realization that I should rework my monhtly calendar and use the Material Calendar instead for
    better accessibility and better styling. I was able to change the month calendar as a whole and it started working as intended.
  </p>
  <p>We also paid a visit to Elisa's office to do some user testing with our demo and get more feedback on what works and what doesn't.
    I took on to make the buttons and all the small elements in the software look more intuitive and more coherent.
    On top of that I also added validation to the forms and forum messages that the user is asked if he is certain about deleting something.
  </p>
  <p>What I actually did this sprint:</p>
  <ul>
    <li>Worked on the Material Theme</li>
    <li>Updated the Monthly Calendar</li>
    <li>Fine-tuned the Yearly Calendar</li>
    <li>Updated the CSS to SCSS</li>
    <li>Created more coherent buttons and actions</li>
    <li>Added validation to the forms and forum messages</li>
  </ul>
  <div class="attachments3">
    <div class="images-sprint6">
      <p>The infrastructure within Angular:</p>
      <img src="assets/images/screenshot1.png" alt="sprint5-1" class="sprint5-image">
      <img src="assets/images/screenshot2.png" alt="sprint5-2" class="sprint5-image">
      <img src="assets/images/screenshot6.png" alt="sprint5-2" class="sprint5-image">
      <img src="assets/images/screenshot8.png" alt="sprint5-2" class="sprint5-image">

    </div>
    <div class="card-div">
      <p>The function that creates the base for the monthly calendar:</p>
      <mat-card class="code-card">
      <code class="code">
        <p>month.component.ts</p>
        <div>
          <div>
          <div>generateMonthCalendar() &#123;</div>
          <div>&nbsp; &nbsp; const startOfMonthDate = startOfMonth(this.currentMonth);</div>
          <div>&nbsp; &nbsp; const endOfMonthDate = endOfMonth(this.currentMonth);</div>
          <br />
          <div>&nbsp; &nbsp; // Let's get the start and end dates of the first week and last week</div>
          <div>&nbsp; &nbsp; const startDate = startOfWeek(startOfMonthDate, &#123; weekStartsOn: 1 &#125;);</div>
          <div>&nbsp; &nbsp; const endDate = endOfWeek(endOfMonthDate, &#123; weekStartsOn: 1 &#125;);</div>
          <br />
          <div>&nbsp; &nbsp; // Here we generate all days between start and end</div>
          <div>&nbsp; &nbsp; this.days = eachDayOfInterval(&#123; start: startDate, end: endDate &#125;);</div>
          <div>&nbsp; &#125;</div>
          </div>
          <div>&nbsp;</div>
          </div>
      </code>
    </mat-card></div>


  </div>
  <h3>Sprint 7</h3>
  <p>During this sprint, we were getting closer to the final product and the end of the course was just a month away.
    We added the final functionalities during this sprint, such as filtering the events and creating an archive component for past events.
  </p>
  <p>My role was to add the filtering to the main page with the event cards and to create the archive component. I also added a filtering to the yearly calendar and
    made the archive work in a way that it filters the incoming event-data to show only past events. I also came across a slight problem with the yearly calendar, since
    it was not working as well as it could be. This meant that I'd have to fix it and that one took its own time.
  </p>
  <p>What I actually did this sprint:</p>
  <ul>
    <li>Added the filtering to the main page with the event cards</li>
    <li>Created the archive component</li>
    <li>Added the filtering to work on the yearly calendar</li>
    <li>Added a grid to the yearly calendar for the events</li>
    <li>Added the filtering to the archive</li>
    <li>Updated the event templates to utilize creator_id for the purpose of notifications.</li>
    <li>Revamped the yearly calendar to follow the UI/UX documentation better</li>
  </ul>

  <h3>Sprint 8, The Last One</h3>
  <p>This was the last sprint before the end of the course, and this project. We agreed within our team to only finesse the existing components and modules.
    No more features were added to the project during this sprint.
  </p>
  <p>For the most part I was focused on the yearly calendar, since it had the issue that it was not presenting the events correctly.
    I had to figure a way to span the events to cover multiple months, should they last more than one month. This was a bit of a challenge for me,
    but I managed to find a solution. This solution was ngClass and a bit of TypeScript. What I did, was to make a function calculate the span of the event
    in months and then apply the grid span to said event. Then it would span itself on the month grid and show accordingly.
  </p>
  <p>What I actually did this sprint:</p>
  <ul>
    <li>Added a function that calculates the span of the event in months</li>
    <li>Stylized the yearly calendar to follow the UI/UX documentation perfectly</li>
    <li>Added icons to the yearly calendar events</li>
    <li>Did the last touches with GitHub and merges</li>
    <li>Went through the course report with the team and filled in the retrospective</li>
  </ul>
  <br>
  <h3>Conclusion and retrospective</h3>
  <p>I really enjoyed working on this project and I was able to learn a lot about Angular and Angular Material. With the addition on working with GitHub
    and learning to find and use the right frameworks and plugins for the project. I learned a lot about the communication between the team members and the
    scrum process and how to keep everyone on track.
  </p>
  <p>The main takeaway for my part is that I was able to get deeper understanding on Angular and frontend development in general. I got some priceless
    insight on how to work with the UI/UX designer and how to bring life the ideas they have on Figma.
  </p>
  <p>Technologies I used:</p>
  <div class="technologies-container">
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/Angular_gradient.png" alt="Angular" class="technology-icon"> <div class="technology-name">Angular</div></div>

    </mat-card>
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/nodejs.png" alt="Nodejs" class="technology-icon"> <div class="technology-name">Node.js</div></div>

    </mat-card>
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/tailwindcss.png" alt="Tailwind" class="technology-icon"> <div class="technology-name">Tailwind CSS</div></div>

    </mat-card>
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/github.png" alt="github" class="technology-icon"> <div class="technology-name">GitHub</div></div>

    </mat-card>
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/vscode-logo.png" alt="github" class="technology-icon"> <div class="technology-name">VSCode</div></div>

    </mat-card>
    <mat-card class="technology-card">
      <div class="technology-data-container"><img src="assets/images/figma.png" alt="github" class="technology-icon"> <div class="technology-name">Figma</div></div>

    </mat-card>
  </div>
</article>

</div>
