<mat-toolbar>
  <div class="nav-container">
  <img src="assets/images/NimmariMusta_noshadow.png" alt="logo" class="logo">
  <nav class="nav-buttons">
    <button mat-stroked-button color="accent" routerLink="/home">Home</button>
    <button mat-stroked-button color="accent" routerLink="/projects">Projects</button>
    <button mat-stroked-button color="accent" routerLink="/about">About</button>
    <button mat-stroked-button color="accent" routerLink="/contact">Contact</button>
  </nav>

</div></mat-toolbar>
